<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>{{title}}</title>
    <style>
        .data{
            width: 800px;
            position: absolute;
            left: 300px;
            top: 20px;
        }
    </style>
</head>
<body>
    <div class="data">
    <form method="POST" action="/product/edit/{{product.id}}">
        {{!-- <div class="form-group">
            <label for="id">id:</label>
            <input type="text" class="form-control" value="{{product.id}}">
        </div> --}}
        <h3>{{product.title}}</h3>
        <br>
        <div class="form-group">
            <label for="title">id:</label>
            <input type="text" class="form-control" name="id" value="{{product.id}}" readonly>
        </div>
        <div class="form-group">
            <label for="title">title:</label>
            <input type="text" class="form-control" name="title" value="{{product.title}}" >
        </div>
        <div class="form-group">
        <label for="body_html">body_html:</label>
        <textarea class="form-control" rows="5" name="body_html" style="resize: none;" value="{{product.body_html}}">{{product.body_html}}</textarea>
        </div>
        <div class="form-group">
            <label for="product_type">product_type:</label>
            <input type="text" class="form-control" name="product_type" value="{{product.product_type}}">
        </div>
        {{!-- <div class="form-group">
            <label for="created_at">created_at:</label>
            <input type="text" class="form-control" name="created_at" value="{{product.created_at}}">
        </div> --}}
        <div class="form-group">
            <label for="handle">handle:</label>
            <input type="text" class="form-control" name="handle" value="{{product.handle}}">
        </div>
        {{!-- <div class="form-group">
            <label for="updated_at">updated_at:</label>
            <input type="text" class="form-control" name="updated_at" value="{{product.updated_at}}">
        </div> --}}
        <div class="form-group">
            <label for="published_at">published_at:</label>
            <input type="text" class="form-control" name="published_at" value="{{product.published_at}}">
        </div>
        <div class="form-group">
            <label for="template_suffix">template_suffix:</label>
            <input type="text" class="form-control" name="template_suffix" value="{{product.template_suffix}}">
        </div>
        <div class="form-group">
            <label for="tags">tags:</label>
            <input type="text" class="form-control" name="tags" value="{{product.tags}}">
        </div>
        <div class="form-group">
            <label for="published_scope">published_scope:</label>
            <input type="text" class="form-control" name="published_scope" value="{{product.published_scope}}">
        </div>
        <div class="form-group">
            <label for="admin_graphql_api_id">admin_graphql_api_id:</label>
            <input type="text" class="form-control" name="admin_graphql_api_id" value="{{product.admin_graphql_api_id}}" readonly>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">submit</button>
            <a href="/shopify_products"><button type="button" class="btn btn-default">back</button></a>
        </div>
    </form>
</div>
</body>
</html>